<app-messages-system [showIsLoading] = "isLoading" [text] = 'textIsLoading'> </app-messages-system>
<div fxFill style="background-color: rgb(66, 66, 66);" fxLayout="row" fxLayoutAlign="center center">
  <form class="form-card" [formGroup]="frmUser" novalidate>
    <mat-card class="card-form">
      <mat-toolbar color="primary">
        <mat-card-header>
          <mat-card-title fxLayout='row'>
            <i (click)='onClickBtnAtras()' class="material-icons" style="cursor: pointer">arrow_back</i>
            <h1>Registro de Usuarios</h1>
          </mat-card-title>
        </mat-card-header>
      </mat-toolbar>
      <mat-card-content>
        <br>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Información de Usuario</b>
              </mat-panel-title>
              <mat-panel-description fxHide.xs='true'>
                <b>{{ objUsuario.username != null ? objUsuario.username : '' +' '+ ( (objUsuario.estatus != null) ? ( '-- '
                  + objUsuario.estatus ) : '') }}
                </b>
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout='row' fxLayout.xs='column'>
              <mat-form-field>
                <input style="text-transform: none" matInput [(ngModel)]="objUsuario.username" name="username" formControlName="username"
                  placeholder="Email" value="">
                <mat-error *ngIf="frmUser.get('username').invalid">{{getErrorMessage('username')}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input [(ngModel)]='objUsuario.password' [type]="hide ? 'password' : 'text'" name="password" formControlName='password' matInput
                  placeholder="Contraseña" value="">
                <mat-error *ngIf="frmUser.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <app-search-select [(value)]='objUsuario.objTz' placeholder='Zona Horaria' required='true' [fnSearch]='fnSearchTzs.bind(this)'
                  [fieldText]='getTextObjTzItem' (onSelected)='onSelectTz($event)'>
                </app-search-select>
                <mat-error *ngIf="frmUser.get('idZonaHoraria').invalid">{{getErrorMessage('idZonaHoraria')}}</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout='row' fxLayout.xs='column' *ngIf='checkAccessGestionPermisos()'>
              <mat-form-field>
                <mat-select [(ngModel)]="objUsuario.idEstatus" name="idEstatus" formControlName="idEstatus" placeholder="Estatus">
                  <mat-option *ngFor="let itemEstatus of estatus | async" [value]="itemEstatus.id">
                    {{ itemEstatus.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="frmUser.get('idEstatus').invalid">{{getErrorMessage('idEstatus')}}</mat-error>
              </mat-form-field>
            </div>
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Información Personal</b>
              </mat-panel-title>
              <mat-panel-description fxHide.xs='true'>
                <b>
                  <span style="text-transform: capitalize">
                    {{ (objUsuario.datosPersonales.apPaterno ? objUsuario.datosPersonales.apPaterno : '') +' '+ (objUsuario.datosPersonales.apMaterno
                    ? objUsuario.datosPersonales.apMaterno : '') +' '+ (objUsuario.datosPersonales.nombre ? objUsuario.datosPersonales.nombre
                    : '') }}
                  </span>
                </b>
                <mat-icon>face</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout='row' fxLayout.xs='column'>
              <mat-form-field>
                <input matInput [(ngModel)]="objUsuario.datosPersonales.codigoIdentidad" name="codigoIdentidad" formControlName="codigoIdentidad"
                  placeholder="Código de Identidad" value="">
                <mat-error *ngIf="frmUser.get('codigoIdentidad').invalid">{{getErrorMessage('codigoIdentidad')}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select [(ngModel)]="objUsuario.datosPersonales.tipoCodigoIdentidad" name="tipoCodigoIdentidad" formControlName="tipoCodigoIdentidad"
                  placeholder="Tipo de identidad">
                  <mat-option *ngFor="let itemTipo of tiposIdentidad" [value]="itemTipo.id">
                    {{ itemTipo.tipo }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="frmUser.get('codigoIdentidad').invalid">{{getErrorMessage('codigoIdentidad')}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput [(ngModel)]="objUsuario.datosPersonales.nombre" name="nombre" formControlName="nombre" placeholder="Nombre"
                  value="">
                <mat-error *ngIf="frmUser.get('nombre').invalid">{{getErrorMessage('nombre')}}</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout='row' fxLayout.xs='column'>
              <mat-form-field>
                <input matInput [(ngModel)]="objUsuario.datosPersonales.apPaterno" name="apPaterno" formControlName="apPaterno" placeholder="Ap. Paterno"
                  value="">
                <mat-error *ngIf="frmUser.get('apPaterno').invalid">{{getErrorMessage('apPaterno')}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput [(ngModel)]="objUsuario.datosPersonales.apMaterno" name="apMaterno" formControlName="apMaterno" placeholder="Ap. Materno"
                  value="">
                <mat-error *ngIf="frmUser.get('apMaterno').invalid">{{getErrorMessage('apMaterno')}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput [(ngModel)]="objUsuario.datosPersonales.fechaNacimiento" formControlName="fechaNacimiento" placeholder="Fecha Nac."
                  name="fechaNacimiento" [matDatepicker]="myDatepicker" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker startView='year'></mat-datepicker>
                <mat-error *ngIf="frmUser.get('fechaNacimiento').invalid">{{getErrorMessage('fechaNacimiento')}}</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout='row' fxLayout.xs='column'>
              <mat-form-field>
                <mat-select [(ngModel)]="objUsuario.datosPersonales.sexo" name="sexo" formControlName="sexo" placeholder="Sexo">
                  <mat-option *ngFor="let itemSexo of sexos | async" [value]="itemSexo.id">
                    {{ itemSexo.nombre }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="frmUser.get('sexo').invalid">{{getErrorMessage('sexo')}}</mat-error>
              </mat-form-field>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="onClickBtnSave()">Guardar</button>
              <button mat-button *ngIf='checkAccessGestionPermisos()' color="default" (click)="nextStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf='checkAccessGestionPermisos()' [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Permisos</b>
              </mat-panel-title>
              <mat-panel-description fxHide.xs='true'>
                <b>
                  <span style="text-transform: capitalize">
                    Listado de permisos asignados
                  </span>
                </b>
                <mat-icon>https</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div ngClass="cnt-permisos" fxLayout='row' fxLayout.xs='column' ngClass.xs="cnt-permisos-xs">
              <!-- Listado de Operaciones -->
              <mat-card *ngIf="showOpe" fxFlex fxFill fxLayout='column'>
                <mat-card-header fxFlex>
                  <mat-card-title fxLayout='column'>
                    <b>Operaciones</b>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content fxFlex='80' fxFill>
                  <mat-selection-list fxFill #lstOperaciones>
                    <mat-list-option *ngFor="let itemOperacion of operaciones | async" [value]='itemOperacion' [selected]="isAuthSelect(itemOperacion)">
                      {{itemOperacion.name}}
                    </mat-list-option>
                  </mat-selection-list>
                </mat-card-content>
              </mat-card>
              <!-- Listado de Tareas -->
              <mat-card *ngIf="showTar" fxFlex fxFill fxLayout='column'>
                <mat-card-header fxFlex>
                  <mat-card-title fxLayout='column'>
                    <b>Tareas</b>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content fxFlex='80' fxFill>
                  <mat-selection-list fxFill #lstTareas>
                    <mat-list-option *ngFor="let itemTarea of tareas | async" [value]='itemTarea' [selected]="isAuthSelect(itemTarea)">
                      {{itemTarea.name}}
                    </mat-list-option>
                  </mat-selection-list>
                </mat-card-content>
              </mat-card>
              <!-- Listado de Roles -->
              <mat-card *ngIf="showRol" fxFlex fxFill fxLayout='column'>
                <mat-card-header fxFlex>
                  <mat-card-title fxLayout='column'>
                    <b>Roles</b>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content fxFlex='80' fxFill>
                  <mat-selection-list fxFill #lstRoles>
                    <mat-list-option *ngFor="let itemRol of roles | async" [value]='itemRol' [selected]="isAuthSelect(itemRol)">
                      {{itemRol.name}}
                    </mat-list-option>
                  </mat-selection-list>
                </mat-card-content>
              </mat-card>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previo</button>
              <button mat-button color="primary" (click)="onClickBtnSave()">Guardar</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </form>
</div>