<div class="home-list">
  <div class="home-list-subtitle">
    <h3>Rastreables</h3>
  </div>
  <mat-progress-bar *ngIf='isLoading' mode="indeterminate"></mat-progress-bar>
  <div *ngIf='isEmpty' class="listEmpty">
    <i>Sin Resultados</i>
  </div>
  <mat-list>
    <mat-list-item fxLayout="row" (click)='onClickListItem(rastreable)' *ngFor="let rastreable of rastreables | async">
      <div matListAvatar class="material-icons blue600 md-48">person_pin_circle</div>
      <h4 mat-line fxLayout='row' fxLayout.xs='column'>
        <b>{{rastreable.nombreCompleto}}</b>
        &nbsp;->&nbsp;
        <b *ngIf='rastreable.objDispositivo.imei != null'>
          {{rastreable.objDispositivo.imei}}
        </b>
        <i *ngIf='rastreable.objDispositivo.imei == null'>
          Sin dispositivo asignado
        </i>
      </h4>
      <p mat-line>
        <b>Contratante:</b>&nbsp;{{rastreable.objUsuarioContratante.datosPersonales.nombreCompleto}}
      </p>
      <p mat-line>
        <span *ngIf='rastreable.telefono != null'>
          <b>{{rastreable.telefono}}</b>
        </span>
        <span *ngIf='rastreable.telefono === null'>
          <i>Sin Teléfono registrado</i>
        </span>
        <span> --
          <b>{{rastreable.estatus}}</b>
        </span>
      </p>
    </mat-list-item>
  </mat-list>
  <div *ngIf="checkAccessfbOnList()" fxLayout="row" fxLayoutAlign="end none" class="fab">
    <button mat-fab color="warn" (click)="onClickAddRastreable()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>