<div class="home-list">
  <div class="home-list-subtitle">
    <h3>Usuarios</h3>
  </div>
  <mat-progress-bar *ngIf='isLoading' mode="indeterminate"></mat-progress-bar>
  <div *ngIf='isEmpty' class="listEmpty">
    <i>Sin Resultados</i>
  </div>
  <mat-list>
    <mat-list-item fxLayout="row" (click)='onClickListItem(usuario)' *ngFor="let usuario of usuarios | async">
      <div matListAvatar class=" {{ (usuario.datosPersonales.sexo == 'H') ? 'avatar-hombre' : 'avatar-mujer' }} "></div>
      <h4 mat-line fxLayout='row' fxLayout.xs='column'>
        <b>{{usuario.datosPersonales.apPaterno}}&nbsp; {{usuario.datosPersonales.apMaterno}}&nbsp; {{usuario.datosPersonales.nombre}}</b>
        &nbsp;|&nbsp;
        <span>{{usuario.tz}}</span>
      </h4>
      <p mat-line>
        <span> {{usuario.username}} </span>
        <span> --
          <b>{{usuario.estatus}}</b>
        </span>
      </p>
    </mat-list-item>
  </mat-list>
  <div *ngIf="checkAccessfbOnList()" fxLayout="row" fxLayoutAlign="end none" class="fab">
    <button mat-fab color="warn" (click)="onClickAddusuario()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>